# CONFIG_SOC_XAVIER is not set
# CONFIG_SDHCI is not set
# CONFIG_NVIDIA_SDHCI is not set
# CONFIG_SATA is not set
# CONFIG_SCSI is not set
# CONFIG_NETWORKING is not set
# CONFIG_NETWORKING_DEVICE_NVIDIA is not set
# CONFIG_NETWORKING_DEVICE_ASIX is not set
# CONFIG_NETWORKING_DEVICE_REALTEK is not set
# CONFIG_SOC_USB is not set
# CONFIG_USB is not set
# CONFIG_XHCI is not set
# CONFIG_EHCI is not set
# CONFIG_USB_MASS_STORAGE is not set
# CONFIG_USB_KEYBOARD is not set
# CONFIG_USB_MOUSE is not set
# CONFIG_NVIDIA_DISPLAY is not set
